/* Style.css */

@font-face {
    font-family: 'Fixedsys Excelsior 3.01';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/FSEX300.woff') format('woff');
	unicode-range: U+0000-7F;
} 

@font-face {
    font-family: 'Sam3KRFont';
    font-weight: normal;
    font-style: normal;
    src: url('../fonts/Sam3KRFont.woff') format('woff');
	unicode-range: U+AC00-D7AF;
}

html, body {
	height: 100%;
}

#body_header {
	width: 100%;
	padding: 1rem;
}

#body_header > input, label {
	display: none;
}

body {
	margin: 0;
	font-family: 'Fixedsys Excelsior 3.01', 'Sam3KRFont', 'Georgia',
	'apple SD 산돌고딕 Neo', 'Helvetica', 'arial', 'courier';
	background-color: #073642;
}

nav {
	top: 15%;
	width: 15%;
	position: fixed;
}

nav a {
	display: block;
	color: #839496;
	text-align: center;
	text-decoration: none;
	font-size: 1.5rem;
	padding: 0.5em;
}

nav a:hover {
	color: #eee8d5;
	text-shadow: 0px 5px #002b36;
	font-weight: bold;
}

nav a:active {
	text-shadow: unset;
	font-weight: unset;
}

main {
	color: #eee8d5;
	margin: 0 15%;
	padding: 2rem;
	background-color: #002b36;
	min-width: 800px;
}

article a:visited {
	color: #839496;
}

article a:link {
	color: #eee8d5;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
}

p {
	margin: 1rem;
}

img {
	display: block;
	margin: 0px auto;
}

table, th, td {
	margin: 0 auto 1rem;
	text-align: center;
	border: 1px solid #eee8d5;
	border-collapse: collapse;
	padding: 4px;
}

table.vertical {
	display: none;
}

.vertical-table-container {
	display: flex;
}

figcaption {
	text-align: center;
}

footer {
	color: #839496;
	text-align: center;
}

.current {
	color: #eee8d5;
	background-color: #002b36;
}

/* mobile display */
@media screen and (max-width: 1100px) {
	nav {
		max-height: 0;
	}

	#body_header {
		top: 0;
		position: fixed;
		background: #073642;
		padding: 0;
		height: 3rem;
		z-index: 3;
	}
	
	#body_header > label {
		display: block;
		text-align: center;
		width: 100%;
		height: 32px;
		font-size: 32px;
		color: #839496;
		position: absolute;
		cursor: Pointer;
		transition: 1s ease-in-out;
	}
	
	#cross {
		opacity: 0;
		margin-top: 9px;
	}

	#menu:checked ~ #hamburger {
		opacity: 0;
	}
	
	#menu:checked ~ #cross {
		opacity: 1;
		transition: 0.5s ease-in-out;
	}
/* Toggle nav style start */
	nav {
		background: #073642;
		top: 3rem;
		width: 100%;
		position: fixed;
		margin: 0;
		transition: 0.5s ease-in-out;
		overflow: hidden;
	}
/* Toggle nav style end */
	main {
		margin: 3rem auto 0;
		max-width: 800px;
		min-width: unset;
	}
}

@media screen and (max-width: 685px) {
	.horizontal {
		display: none;
	}
	
	table.vertical {
		margin: auto;
		display: flex;
		border: none;
	}
}
